<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Search Results</title>
  <style>
    table {
      border-collapse: collapse;
      width: 80%;
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 20px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
    }
    th, td {
      text-align: left;
      padding: 10px;
      border-bottom: 1px solid #ddd;
    }
    tr:nth-child(even){background-color: #f2f2f2}
    th {
      background-color: #4CAF50;
      color: white;
    }
    h1 {
      text-align: center;
      margin-top: 50px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 24px;
    }
    p {
      text-align: center;
      margin-top: 20px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
      color: #666;
    }
    img {
      max-width: 200px;
      max-height: 200px;
    }
  </style>
</head>
<body>
  <h1>Search Results</h1>
  <% if (results.length > 0) { %>
    <table>
      <thead>
        <tr>
          <th>Sculpture ID</th>
          <th>Image</th>
          <th>Sculpture Name</th>
          <th>Temple name</th>
          <th>State</th>
          <th>City</th>

        </tr>
      </thead>
      <tbody>
        <% results.forEach((result) => { %>
          <tr>
            <td><%= result.sculptureid %></td>
            <td><img src="data:image/jpeg;base64, <%= result.image.toString('base64') %>" alt="Temple Image" /></td>
            <td><%= result.sculpturename %></td>
            <td><%= result.name %></td>
            <td><%= result.state %></td>
            <td><%= result.city %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <p>No results found.</p>
  <% } %>
</body>
</html>