<!DOCTYPE html>
<html>
  <head>
    <title>Show Data</title>
  </head>
  <body>
    <form action="/submit" method="post">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" value="<%= data.name %>"><br>

      <label for="address">Address:</label>
      <input type="text" id="address" name="address" value="<%= data.address %>"><br>

      <label for="stateid">State ID:</label>
      <input type="text" id="stateid" name="stateid" value="<%= data.stateid %>"><br>

      <label for="city">City:</label>
      <input type="text" id="city" name="city" value="<%= data.city %>"><br>

      <label for="pincode">Pincode:</label>
      <input type="text" id="pincode" name="pincode" value="<%= data.pincode %>"><br>

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
